* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
}

.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  background-image: url(images/header.png);
}

.features-menu {
  display: none;
  flex-direction: column;
  background: grey;
  width: 30vh;
  height: 38vh;
  border-radius: 5px;
  padding-top: 5px;
  position: absolute;

  left: -14vh;
  gap: 1em;
  z-index: 1;
}
.hero-contact {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.md-menu-links {
  list-style-type: none;
  color: white;
}
.img-box {
  text-align: center;
  width: 100%;
  flex: 3;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  flex: 1;
  padding: 1em;
}
.hero-img {
  width: 100%;

  padding: 2em;
}

h1 {
  margin: 1em;
}

.menu {
  display: flex;
  gap: 1em;
}

.project-one,
.project-two,
.project-three,
.project-four {
  width: 100%;
}

.dropdown,
.features-menu {
  list-style-type: none;
}

.menu {
  display: flex;
  list-style-type: none;

  margin-top: 1.5em;
}

.dropdown {
  position: relative;
}

.dropdown:hover .features-menu {
  display: flex;
  cursor: pointer;
  color: grey;
}

.features {
  z-index: 2;
  position: relative;
}

.md-menu-links {
  display: none;
}

.project-details {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.project-details > div {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.view-project,
.view-link {
  color: white;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: grey;
  height: auto;
  background-image: url(images/hero\ container\ bg.png);
}

.skills-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  gap: 1em;
}

a:hover {
  color: green;
}

.projects-container {
  background-color: grey;
  background-image: url(images/360_F_399555768_facLZEz0rD5YhJxTO9Z2UEaH1r4sMams.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  gap: 1em;
}

.project-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article-box {
  background-image: url(images/SpecialProjects_tech-abstract_1400x788.jpg);
}

.contact-box {
  width: 100%;
  height: 100%;
  display: flex;
  color: brown;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}

.contact-info {
  display: flex;
  flex-direction: column;

  text-align: left;
  font-size: 15px;
  gap: 1em;
}

.contact-info i {
  display: flex;
  align-items: left;
  width: 100%;
  margin: 0;
  gap: 1em;
}

.contact-form-header {
  background-color: lightblue;
  gap: 2em;
  width: 100%;
  padding: 3em;
  background-image: url(images/1d8380cfc453af6571f66571bb088b98.jpg);
}

.form-row-fn {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: brown;
  padding: 1em;
  gap: 1em;
}

.name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-email {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-number {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name [type="f-name"] {
  height: 5vh;
}

.form-email [type="email"] {
  height: 5vh;
}

.form-number [type="number"] {
  height: 5vh;
}

.title {
  font-size: 35px;
}

.form-row-button {
  display: flex;
  justify-content: end;
}

.footer {
  width: auto;
  background-color: black;
  height: auto;
}

.footer-container {
  border: 1px solid black;
  background-color: blue;
  background-image: url(images/header.png);
}

@media only screen and (min-width: 500px) {
  .dropdown {
    display: none;
  }

  .md-menu-links {
    display: block;
  }

  .form-row-fn > input[type="text"] {
    width: 80vh;
    height: 5vh;
  }

  .form-row-email > input[type="email"] {
    width: 80vh;
    height: 5vh;
  }
}

@media only screen and (min-width: 501px) and (max-width: 750px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 1em;
    background-color: grey;
  }
  .hero-img {
    width: 100%;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-container header {
    grid-column: 1 / 3;
  }

  .contact-form-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-row-button > button {
    display: flex;
    justify-content: end;
    font-size: 20px;
  }

  .nav-container {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 751px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .project-one,
  .project-two,
  .project-three,
  .project-four {
    width: 100%;
    cursor: pointer;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .projects-container header {
    grid-column: 1 / 5;
  }
  .contact-form-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-row-button > button {
    font-size: 25px;
  }

  .nav-container {
    justify-content: space-around;
  }

  .contact-form-header {
    width: 100%;
  }
}
